* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #1f1534;
  --secondary-color: #7d7987;
  --thirdh-color: #458ff6;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 30px 0;
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

nav a {
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: bold;
}

nav .active {
  color: var(--primary-color);
}

nav a:focus {
  color: var(--primary-color);
}

nav a:hover {
  color: var(--primary-color);
}

main .trafalgar {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: auto;
  margin-top: 2rem;
}

main .trafalgar-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 29rem;
}

main .trafalgar-head {
  font-size: 3rem;
  font-weight: 700;
}

main .trafalgar-body {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  color: var(--secondary-color);
}

main .trafalgar-footer {
  margin-top: 2rem;
}

main .trafalgar-footer button {
  background-color: var(--thirdh-color);
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 3.4rem;
  border: 1px solid var(--thirdh-color);
  font-size: 1.125rem;
  color: var(--white-color);
  font-weight: 700;
}

main .trafalgar-img img {
  width: 43.3rem;
  height: 37.3rem;
}

main .services {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

main .service-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .services-title {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

main .service-title {
  font-size: 2.25rem;
  font-weight: 700;
}

main .line-img {
  width: 3.5rem;
}

main .services-head {
  width: 59.5rem;
  margin: auto;
  margin-top: 2rem;
  line-height: 1.875;
  color: var(--secondary-color);
  font-size: 1.125rem;
  text-align: center;
}

main .services-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 70rem;
  margin: auto;
  margin-top: 5rem;
}

main .service-box {
  width: 21.875rem;
  height: 22.125rem;
  border-radius: 1.25rem;
  z-index: 1;
  background-color: var(--white-color);
  padding: 3rem 0 1rem 2rem;
  box-shadow: 1px 1px 3rem 2rem rgba(228, 226, 226, 0.2);
}

main .box-img img {
  width: 5.7rem;
  height: 5.6rem;
}

main .box-head {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

main .box-body {
  width: 16.625rem;
  color: var(--secondary-color);
  line-height: 1.75rem;
}

main .service-img {
  gap: 30rem;
  position: absolute;
}

main .service-img img {
  z-index: -1;
}

main .services-footer {
  margin: 6rem 0 1rem;
}

main .button button {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 3.4rem;
  border: 1px solid var(--thirdh-color);
  font-size: 1.125rem;
  color: var(--thirdh-color);
  background-color: var(--white-color);
  font-weight: 700;
}

main .custom-space {
  margin-top: 7rem;
}

main .space {
  margin-top: 2rem;
}
