/*! All styles*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #1f1534;
  --secondary-color: #7d7987;
  --thirdh-color: #458ff6;
  --fourth-color: #67c3f3;
  --fifth-color: #5a98f2;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

/*! Navbar styles */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;
  padding: 30px 0;
}

nav ul {
  display: flex;
  gap: 2.5rem;
}

nav a {
  font-size: 1.2rem;
  color: var(--secondary-color);
  font-weight: bold;
}

nav .menu-bars {
  display: none;
}

.active {
  color: var(--primary-color);
}

nav a:focus {
  color: var(--primary-color);
}

nav a:hover {
  color: var(--primary-color);
}

/*! Main styles */

main .trafalgar {
  display: flex;
  justify-content: center;
  gap: 15rem;
  margin: auto;
  margin-top: 2rem;
}

main .trafalgar-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 29rem;
}

main .trafalgar-head {
  font-size: 3rem;
  font-weight: 700;
}

main .trafalgar-body {
  font-size: 1.4rem;
  line-height: 2rem;
  margin-top: 2rem;
  color: var(--secondary-color);
}

main .trafalgar-footer {
  margin-top: 2rem;
}

main .trafalgar-footer button {
  background-color: var(--thirdh-color);
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 3.4rem;
  border: 1px solid var(--thirdh-color);
  font-size: 1.125rem;
  color: var(--white-color);
  font-weight: 700;
}

main .trafalgar-img img {
  width: 43.3rem;
  height: 37.3rem;
}

main .services {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

main .service-img {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .services-title {
  display: flex;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

main .service-title {
  font-size: 2.25rem;
  font-weight: 700;
}

main .line-img {
  width: 3.5rem;
}

main .services-head {
  width: 59.5rem;
  margin: auto;
  margin-top: 2rem;
  line-height: 1.875;
  color: var(--secondary-color);
  font-size: 1.125rem;
  text-align: center;
}

main .services-body,
.note {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 70rem;
  margin: auto;
  margin-top: 5rem;
}

main .service-box {
  width: 21.875rem;
  height: 22.125rem;
  border-radius: 1.25rem;
  z-index: 1;
  background-color: var(--white-color);
  padding: 3rem 0 1rem 2rem;
  box-shadow: 1px 1px 3rem 2rem rgba(228, 226, 226, 0.2);
}

main .box-img img {
  width: 5.7rem;
  height: 5.6rem;
}

main .box-head {
  font-size: 1.5rem;
  line-height: 3.5rem;
  font-weight: 700;
  margin-top: 1rem;
}

main .box-body {
  width: 16.625rem;
  color: var(--secondary-color);
  line-height: 1.75rem;
}

main .service-img {
  gap: 30rem;
  position: absolute;
}

main .service-img img {
  z-index: -1;
}

main .services-footer {
  margin: 6rem 0 1rem;
}

main .button button {
  width: 12.5rem;
  height: 3.5rem;
  border-radius: 3.4rem;
  border: 1px solid var(--thirdh-color);
  font-size: 1.125rem;
  color: var(--thirdh-color);
  background-color: var(--white-color);
  font-weight: 700;
}

main .custom-space {
  margin-top: 7rem;
}

main .space {
  margin-top: 2rem;
}

main .custom-button button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;
}

main .note {
  margin-top: 10em;
  background: linear-gradient(
    208.18deg,
    var(--fourth-color) 9.05%,
    var(--fifth-color) 76.74%
  );
  border-radius: 1.5rem;
  padding: 3rem 5rem;
}

main .note-head {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--white-color);
  text-align: center;
}

main .note-space {
  margin-top: -1rem;
}

main .note-body {
  display: flex;
  align-items: center;
  gap: 5rem;
}

main .person {
  display: flex;
  gap: 2rem;
  align-items: center;
}

main .person-img img {
  border-radius: 100%;
  width: 12rem;
  height: 12rem;
  z-index: 1;
}

main .person-info {
  width: 11.5rem;
}

main .person-title {
  font-size: 1.375rem;
  color: var(--white-color);
}

main .person-head {
  font-size: 1.125rem;
  color: var(--white-color);
  line-height: 3rem;
}

main .person-note {
  width: 26.25rem;
  font-size: 1.1875rem;
  color: var(--white-color);
  line-height: 1.875rem;
}

main .arrow-nav {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 3rem;
}

main .article {
  margin-top: 18rem;
}

main .services-custom-body {
  display: flex;
  gap: 2rem;
  width: 66.5rem;
  margin: auto;
}

main .custom-services {
  margin-top: 5rem;
}

main .custom-services-box {
  padding: 0;
  height: 32rem;
}

main .custom-box-img {
  width: 21.875rem;
}

main .custom-box-img img {
  width: 21.875rem;
  height: 15rem;
  border-top-left-radius: 1.25rem;
  border-top-right-radius: 1.25rem;
}

main .custom-box {
  padding: 1rem 0 1rem 1rem;
}

main .custom-box-head,
.custom-box-body {
  width: 20rem;
}

main .service-box-head {
  line-height: 2rem;
  font-size: 1.5rem;
}

main .service-box-body {
  font-size: 1.05rem;
  line-height: 1.5rem;
  margin-top: 2rem;
}
main .services-more {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-top: 2rem;
}

main .services-more a {
  font-size: 1rem;
  color: var(--thirdh-color);
  line-height: 1.75rem;
  font-weight: 700;
}

main .custom-services-button {
  margin-top: 3rem;
  text-align: center;
}

/*! Footer styles */

footer {
  background: linear-gradient(
    183.41deg,
    var(--fourth-color) -8.57%,
    var(--fifth-color) 82.96%
  );
}

footer div,
a {
  color: var(--white-color);
}

footer a {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 2.3rem;
}

footer .footer {
  display: flex;
  justify-content: space-between;
  padding: 6rem 7rem;
  width: 85rem;
  margin: auto;
  margin-top: 10rem;
}

footer .trafalgar-footer {
  width: 24rem;
}

footer .trafalgar-b-footer {
  margin-top: 2rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

footer .trafalgar-f-footer {
  margin-top: 2rem;
}

footer .company-h-footer {
  font-size: 1.25rem;
}

footer .company-b-footer {
  margin-top: 2rem;
}

/*! Phone Screen */
/*? Max-width: 425px; */

@media only screen and (max-width: 425px) {
  nav ul {
    display: none;
  }

  nav .menu-bars {
    display: block;
  }

  main .trafalgar {
    margin-top: 5rem;
    text-align: center;
    flex-direction: column-reverse;
  }

  main .trafalgar-info {
    width: 90%;
    margin: auto;
    margin-top: -10rem;
  }

  main .trafalgar-img,
  .footer {
    width: 90%;
    margin: auto;
  }

  main .trafalgar-img img {
    width: 100%;
    height: auto;
  }

  main .services {
    width: 90%;
    margin: auto;
    margin-top: 10rem;
  }

  main .services-body {
    width: 90%;
    margin: auto;
    flex-direction: column;
  }

  main .services-head {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
  }

  main .services-footer {
    margin-bottom: 10rem;
  }

  main .custom-t,
  .note-body,
  .person,
  .footer {
    flex-direction: column;
  }

  main .custom-d {
    margin-top: 15rem;
  }

  main .custom-button {
    margin: auto;
    margin-top: 2rem;
  }

  main .note {
    padding: 2rem 0;
    width: 90%;
    margin: auto;
    margin-top: 8rem;
  }

  main .note-head,
  .custom-services {
    width: 90%;
    margin: auto;
    text-align: center;
  }

  main .person-info {
    width: 85%;
    margin: auto;
    text-align: center;
  }

  main .person-note {
    width: 85%;
    margin: auto;
  }

  main .services-custom-body {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    flex-direction: column;
  }

  footer .footer {
    padding: 1rem 0 1rem 1rem;
  }

  footer .trafalgar-footer {
    margin-top: 3rem;
    text-align: center;
  }

  footer .company-footer {
    margin: auto;
    width: 80%;
    margin-top: 5rem;
  }

  footer .company-h-footer {
    margin-top: 4rem;
  }
}
